---
import config from "virtual:starlight/user-config";
import type { Props } from "@astrojs/starlight/props";

import Search from "virtual:starlight/components/Search";
import SocialIcons from "virtual:starlight/components/SocialIcons";
import ThemeSelect from "./themeSelect.astro";
import LanguageSelect from "virtual:starlight/components/LanguageSelect";

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch =
    config.pagefind ||
    config.components.Search !== "@astrojs/starlight/components/Search.astro";
---

<div class="flex justify-between">
    <div class="sl-flex w-1/3">
        {shouldRenderSearch && <Search {...Astro.props} />}
    </div>
    <div class="sl-hidden md:sl-flex right-group items-center">
        <LanguageSelect {...Astro.props} />
        <div class="h-6 border-r border-gray-300 dark:border-[#2e2e32]"></div>
        <ThemeSelect {...Astro.props} />
        <div class="h-6 border-r border-gray-300 dark:border-[#2e2e32]"></div>
        <div class="sl-flex social-icons border-gray-300 -ml-3">
            <SocialIcons {...Astro.props} />
        </div>
    </div>
    
</div>

<style>
    .title-wrapper {
        /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
        overflow: hidden;
    }

    .right-group,
    .social-icons {
        gap: 0.7rem;
        align-items: center;
    }
    .social-icons::before {
        content: "";
        height: 2rem;
    }

    @media (min-width: 50rem) {
        :global(:root[data-has-sidebar]) {
            --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
        }
        :global(:root:not([data-has-toc])) {
            --__toc-width: 0rem;
        }
    }
</style>
